<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Todo Torrent">
        <meta name="author" content="Axel Gulden">
        <link rel="icon" href="img/icon.png" type="image/gif" sizes="16x16">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/round-about.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <!-- Bootstrap core JavaScript -->
        <script src="js/libraries/jquery/jquery.min.js"></script>
        <script src="js/libraries/bootstrap/bootstrap.bundle.min.js"></script>
        <!-- Angular -->
        <script src="js/libraries/angular/angular.min.js"></script>
        <script src="js/libraries/angular/angular-route.min.js"></script>
        <!-- Fin Angular -->
        <script src="app.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/inicio.js"></script>
        <script src="js/controllers/topMenu.js"></script>
        <script src="js/controllers/footer.js"></script>
        <!-- Services -->
        <script src="js/services/initialData.service.js"></script>
        <script src="js/services/email.service.js"></script>

        <title>LiderBook</title>
    </head>

    <body ng-app="liber">
        
        <!-- Top Menu -->
        <nav class=" navbar navbar-dark bg-dark navbar-expand-lg fixed-top" ng-controller="topMenu">
          <div class="container">
            <a class="navbar-brand" href="#">LiderBook <i class="fa fa-book" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li ng-repeat="topMenu in topMenu | orderBy: id" 
                    ng-class="{active : activeRoute('{{topMenu.url}}')}" 
                    class="nav-item">
                  <a class="nav-link" href="{{topMenu.url}}">
                    {{topMenu.tipo}}
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                </form>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Fin Top Menu -->
        <!-- Contenido Dinamico -->
        <div class="container" ng-view></div>
        <!-- Fin Contenido Dinamico -->
        <!-- Footer -->
        <footer class="py-5 bg-dark" ng-controller="footer">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; LiderBook 2018</p>
            </div>
        </footer>
        <!-- Fin Footer -->


<!--         <div ng-controller="topMenu" ng-include="'views/topMenu.html'"></div>
        <div ng-controller="main" ng-include="'views/inicio.html'"></div>
        <div ng-include="'views/footer.html'"></div> -->
    </body>

</html>
