.search[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search2:active {
     width: 200px;
}
/* When the input field gets focus, change its width to 100% */
.container > input.search[type=text]:focus {
    width: 40%;
}
.center {
    text-align: center;
}