      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Ultimas entradas</h2>
        </div>
        <div ng-repeat="main in main | orderBy: id | limitTo: 9" class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" ng-src="img/{{main.imagen}}" alt="{{main.nombre}}" ng-if="main.imagen">
          <h3>{{main.nombre}}
            <small>{{main.aclaracion}}</small>
          </h3>
          <p>{{main.descripcion}}</p>
        </div>
      </div>